<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>periodcentered.loclCAT</key>
	<string>periodcentered.loclC_A_T_.glif</string>
	<key>periodcentered.loclCAT.case</key>
	<string>periodcentered.loclC_A_T_.case.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>space.001</key>
	<string>space.001.glif</string>
	<key>space.002</key>
	<string>space.002.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uni0021</key>
	<string>uni0021.glif</string>
	<key>uni0022</key>
	<string>uni0022.glif</string>
	<key>uni0023</key>
	<string>uni0023.glif</string>
	<key>uni0024</key>
	<string>uni0024.glif</string>
	<key>uni0025</key>
	<string>uni0025.glif</string>
	<key>uni0026</key>
	<string>uni0026.glif</string>
	<key>uni0027</key>
	<string>uni0027.glif</string>
	<key>uni0028</key>
	<string>uni0028.glif</string>
	<key>uni0029</key>
	<string>uni0029.glif</string>
	<key>uni002A</key>
	<string>uni002A_.glif</string>
	<key>uni002B</key>
	<string>uni002B_.glif</string>
	<key>uni002C</key>
	<string>uni002C_.glif</string>
	<key>uni002D</key>
	<string>uni002D_.glif</string>
	<key>uni002E</key>
	<string>uni002E_.glif</string>
	<key>uni002F</key>
	<string>uni002F_.glif</string>
	<key>uni003A</key>
	<string>uni003A_.glif</string>
	<key>uni003B</key>
	<string>uni003B_.glif</string>
	<key>uni003C</key>
	<string>uni003C_.glif</string>
	<key>uni003D</key>
	<string>uni003D_.glif</string>
	<key>uni003E</key>
	<string>uni003E_.glif</string>
	<key>uni003F</key>
	<string>uni003F_.glif</string>
	<key>uni0040</key>
	<string>uni0040.glif</string>
	<key>uni005B</key>
	<string>uni005B_.glif</string>
	<key>uni005C</key>
	<string>uni005C_.glif</string>
	<key>uni005D</key>
	<string>uni005D_.glif</string>
	<key>uni005E</key>
	<string>uni005E_.glif</string>
	<key>uni005F</key>
	<string>uni005F_.glif</string>
	<key>uni0060</key>
	<string>uni0060.glif</string>
	<key>uni007B</key>
	<string>uni007B_.glif</string>
	<key>uni007C</key>
	<string>uni007C_.glif</string>
	<key>uni007D</key>
	<string>uni007D_.glif</string>
	<key>uni007E</key>
	<string>uni007E_.glif</string>
	<key>uni00A2</key>
	<string>uni00A_2.glif</string>
	<key>uni00A3</key>
	<string>uni00A_3.glif</string>
	<key>uni00A4</key>
	<string>uni00A_4.glif</string>
	<key>uni00A5</key>
	<string>uni00A_5.glif</string>
	<key>uni00A6</key>
	<string>uni00A_6.glif</string>
	<key>uni00A7</key>
	<string>uni00A_7.glif</string>
	<key>uni00A8</key>
	<string>uni00A_8.glif</string>
	<key>uni00A9</key>
	<string>uni00A_9.glif</string>
	<key>uni00AC</key>
	<string>uni00A_C_.glif</string>
	<key>uni00AD</key>
	<string>uni00A_D_.glif</string>
	<key>uni00AE</key>
	<string>uni00A_E_.glif</string>
	<key>uni00AF</key>
	<string>uni00A_F_.glif</string>
	<key>uni00B0</key>
	<string>uni00B_0.glif</string>
	<key>uni00B1</key>
	<string>uni00B_1.glif</string>
	<key>uni00B2</key>
	<string>uni00B_2.glif</string>
	<key>uni00B3</key>
	<string>uni00B_3.glif</string>
	<key>uni00B4</key>
	<string>uni00B_4.glif</string>
	<key>uni00B9</key>
	<string>uni00B_9.glif</string>
	<key>uni00BC</key>
	<string>uni00B_C_.glif</string>
	<key>uni00BD</key>
	<string>uni00B_D_.glif</string>
	<key>uni00BE</key>
	<string>uni00B_E_.glif</string>
	<key>uni0300</key>
	<string>uni0300.glif</string>
	<key>uni0301</key>
	<string>uni0301.glif</string>
	<key>uni0302</key>
	<string>uni0302.glif</string>
	<key>uni0306</key>
	<string>uni0306.glif</string>
	<key>uni0307</key>
	<string>uni0307.glif</string>
	<key>uni0308</key>
	<string>uni0308.glif</string>
	<key>uni030A</key>
	<string>uni030A_.glif</string>
	<key>uni030B</key>
	<string>uni030B_.glif</string>
	<key>uni030C</key>
	<string>uni030C_.glif</string>
	<key>uni2013</key>
	<string>uni2013.glif</string>
	<key>uni2014</key>
	<string>uni2014.glif</string>
	<key>uni2018</key>
	<string>uni2018.glif</string>
	<key>uni2019</key>
	<string>uni2019.glif</string>
	<key>uni201A</key>
	<string>uni201A_.glif</string>
	<key>uni201C</key>
	<string>uni201C_.glif</string>
	<key>uni201D</key>
	<string>uni201D_.glif</string>
	<key>uni201E</key>
	<string>uni201E_.glif</string>
	<key>uni2022</key>
	<string>uni2022.glif</string>
	<key>uni2026</key>
	<string>uni2026.glif</string>
	<key>uni2030</key>
	<string>uni2030.glif</string>
	<key>uni2039</key>
	<string>uni2039.glif</string>
	<key>uni203A</key>
	<string>uni203A_.glif</string>
	<key>uni2044</key>
	<string>uni2044.glif</string>
	<key>uni2074</key>
	<string>uni2074.glif</string>
	<key>uni2122</key>
	<string>uni2122.glif</string>
	<key>uni2264</key>
	<string>uni2264.glif</string>
	<key>uni2265</key>
	<string>uni2265.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
